@media only screen and (min-width: 799px) {
    .hidden {
        opacity: 0;
        filter: blur(5px);
        transform: translateY(50%);
        transition: all 1s;
    }
    .show {
        opacity: 1;
        filter: blur(0);
        transform: translateY(0);
        transition: all 1s;
    }
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}