.tel-link {
    width: 22px;
    height: 30px;
    padding: 10px 15px;
    border-radius: 50px;

    position: fixed;
    z-index: 100;
    margin-top: -50px;
    left: 20px;
    top: 94.5vh;
    transform:translateY(-50%);

    display: flex;
    align-items: center;
    // justify-content: center;

    background-color: rgb(0, 204, 255);
    color: var(--secondary-black);
    
    transition: width 0.3s ease, background-color 0.3s ease;
    overflow: hidden;
    white-space: nowrap;
}
.tel-link:hover {
    width: 170px;
    background-color: cyan;
    color: var(--secondary-black);
}

.tel-link .icon {
    font-size: 20px;
}

.tel-link .number {
    opacity: 0;
    margin-left: 13px;
    transition: opacity 0.3s ease;
}

.tel-link:hover .number {
    opacity: 1;
}

@for $i from 1 through 4 {
    .tel-link:nth-of-type(#{$i}) {
      top: 94.5vh - ($i - 1) * 5.5vh;
    }
}

@mixin mq-tel-link(){
    @for $i from 1 through 4 {
        .tel-link:nth-of-type(#{$i}) {
          top: 84.5vh - ($i - 1) * 7.3vh;
        }
    }
}

@mixin lab-mq-tel-link(){
    @for $i from 1 through 4 {
        .tel-link:nth-of-type(#{$i}) {
          top: 94.5vh - ($i - 1) * 9vh;
        }
    }
}
