//- TODO: phoneNum & Image Src Dynamically

//-- General
-
    const brandName = "Siana"
    const description = "Description"
    const keywords = "Siana, Toshiba, صيانة, توشيبا, تصليح, تلاجة, شاشة, ميكرويف, فريزر, تلفزيون"
    const imgLogo = "./assets/logo.webp"
    const heroTitle = "Hero Title"
    const linksArr = [
        {'Home':'#home'},
        {'About':'#about'}
    ]

//-- One Liners
-
    const phoneNum = "+201113127268"
    const hotline = "15887"