//-- General Data
-
    const brandName = "Siana"
    const description = "Description"
    const keywords = "Siana, Toshiba"
    const imgLogo = "./assets/logo.webp"
    const heroTitle = "Hero Title"

-
    const linksArr = [
        {'Home':'#home'},
        {'About':'#about'}
    ]