//-- Includes
include ../boilerplate/manager



//-- HTML
doctype html
html(lang="en" data-theme="light")



    //-- Head
    +head()



    //-- Body
    body
        header
            +pop-form-btn()
            +tel-link()
            +tel-link()
            +pop-form()
            main
                h1
                    +text-slider()

        +servicesSection()
        +testos()



        //-- JS
        +loadScripts()