header {
    // height: calc(100dvh - #{$nav-height});
    // margin-top: $nav-height;

    height: var(--screen-height);
    width: 100%;
    position: relative;

    @include ele-bg(
        $left-clr: rgba(0, 0, 0, .5),
        $right-clr: rgba(0, 0, 0, .5)
    );
    background-position: center top;
}

main {
    height: 100%;
    width: 100%;
    padding: var(--sec-padding);
    @include flex-position;
    color: var(--primary-white);
}


@mixin mq-header(){  
    header {
        height: 100vh;
        background-position: 70%;
    }
}