section.services {
    background-color: var(--light-gray);
    @include flex-position($x: space-around);
    flex-direction: column;
}

.section-row {
    height: 40%;
    width: 80%;
    @include flex-position;
    flex-direction: row-reverse;
    background: var(--bg-color);
    border-radius: 10px;
    @include box-shadow;
    overflow: hidden;
    direction: rtl;

    img {
        height: 100%;
        max-width: 50%;
        object-fit: cover;
    }

    p {
        color: #1a1a1d;
        padding: 25px;
        text-align: right;
        overflow: auto;
        height: 100%;

        .highlight {
            color: var(--primary-color)
        }
    }

    &.rv {
        flex-direction: row;
    }
}


@mixin mq-services(){
    section.services {
        height: auto;
        background-color: var(--primary-white);

        h2 {
            text-align: center;
            max-width: 80%;
            margin: 50px 0 40px;
        }
    }

    .section-row {
        flex-direction: column;
        justify-content: start;
        height: auto;
        box-shadow: none;
        border-radius: 0;
        width: 100%;
        margin-top: 50px;
        
        &.rv {
            flex-direction: column;
        }

        img {
            height: auto;
            max-width: 100%;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.5rem;
            width: 100%;
            padding: 0;
        }
    }
}