mixin testos(testimonials)
    section.testos
        h2 رأيك يهمنا
        .slider-container
            .quote-wrapper
                    each testo in testimonials
                        .quote
                            p=`❞${testo.quote}❝`
                            .author=`— ${testo.author}`

            .dots
                each testo, index in testimonials
                    .dot(onclick=`goToQuote(${index})`)
        .arrow.left(onclick="prevQuote()") &#8592;
        .arrow.right(onclick="nextQuote()") &#8594;
    +hotline-box()
