@import "styles";
:root {
    --primary-color: #003f87;
    --primary-light: #0054b4;
    --primary-dark: #001d3d;

    //-- [Optional]
    --accent-color: #fd1d75;
    --accent-light: #ff4c97;
    --accent-dark: #c70058;
}